<div class="jumbotron p-2 d-flex flex-column justify-content-center">
    <h2 class="m-auto" style="color: blue;">Hasta Luego {{nombre}}</h2>
    <br>
    <button class="btn btn-success ml-auto mr-auto mt-3" onclick="location.href='/'" type="submit">Inicio</button>
</div>