<h3>Chat de Mensajes y Pregusntas</h3>
<form action="" id="formulario">
    <div class="mb-1 mt-2">
        <input type="email" class="form-control" placeholder="Email" name="email" id="email" required>
    </div>

    <div class="mb-3">
        <input type="text" class="form-control mb-2" id="comentario" placeholder="Escribe tu comentario aqui..." rows="3"
            name="message"></input>
        <button type="button" onclick="enviarMensaje()" id="send" class="btn btn-success">Enviar</button>
    </div>
</form>
<hr>
<div id="mensajes">
    <!-- aqui se renderizan los mensajes recibidos por parte del server -->
</div>
</div>