<div class="jumbotron p-0 m-2 d-flex justify-content-between">
    <h2 style="color: green;">Bienvenido</h2>
    <button class="btn btn-warning mt-1 mb-1" onclick="location.href='/logout'" type="submit">Logout</button>
</div>

<div class="table-responsive">
    <table class="table table-dark" id="tabla-productos">

    </table>
</div>

<script>

    /*=============== Renderizado de productos ===============*/
    const objetos =  {{products}}



    async function renderProducts(objetos) {
        const table = `<tr style="color: yellow;"> <th>Producto</th> <th>Precio</th> <th>Imagen</th> </tr>`;
        const cuerpoProductos = await objetos.map(item => {
            return `
                <tr>
                    <td>${item.producto}</td>
                    <td>${item.precio}</td>
                    <td>
                        <img width="30px" src=${item.img} alt="Prod. img">
                    </td>
                </tr>`
        }).join('')
        document.querySelector('#tabla-productos').innerHTML = table + cuerpoProductos;
    }

</script>

</div>