<div class="jumbotron p-2 d-flex flex-column justify-content-center">
    <h2 class="m-auto" style="color: blue;">Error en Registro de Usuario</h2>
    <br>
    <button class="btn btn-success ml-auto mr-auto mt-3" onclick="location.href='/login'" type="submit">Login</button>
    <hr>
    <button class="btn btn-success ml-auto mr-auto mt-3" onclick="location.href = '/registro'">Ir a Registro</button>

</div>